<!doctype html>
<html>
  <head>
  </head>
  <body>
    <% if is_blog_article? %>
      URL: <%= current_article.url %>
      Category: <%= current_article.metadata[:page]['category'] %>
      <%= yield %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
