<article class="hentry">
  <h1 class="entry-title">
    <%= current_article.title %> 
    <time class="updated"><%= current_article.date.strftime('%b %e %Y') %></time>
  </h1>
  
  <div class="entry-content">
    <%= yield_content :blog_article %>
  </div>
</article>