<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    
    <% if is_blog_article? %>
      <title><%= current_article_title %></title>
    <% end %>
  </head>
  <body>
    
    <div id="main" role="main">
      <% if is_blog_article? %>
        <% content_for :blog_article, yield %>
        <%= partial 'article_template' %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
