<ul>
  <% blog.articles[0...10].each do |article| %>
  <li>
    <h2><a href="<%= article.url %>"><%= article.title %></a> <span><%= article.date.strftime('%b %e') %></span></h2>
    <p><%= article.summary %></p>
  </li>
  <% end %>
</ul>
