<h1>Articles tagged '<%= @tag %>'</h1>

<% if @articles %>
  <% @articles[0...12].each do |article| %>
    <li><a href="<%= article.url %>"><%= article.title %></a> <time><%= article.date.strftime('%b %e') %></time></li>
  <% end %>
<% end %>
