@import "normalize";
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic);

// Make sure the charset is set appropriately
@charset "UTF-8";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

$topbar-bg: #262626;
$topbar-height: 35px;
$topbar-margin-bottom: 0;
$topbar-breakpoint: emCalc(767px);

$topbar-title-font-size: emCalc(12px);
$topbar-link-color: #999999;
$topbar-link-font-size: emCalc(12px);

$body-font-color: #444;
$body-font-family: "Lato", sans-serif;

$row-width: emCalc(768px);

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/block-grid",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/custom-forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  "foundation/components/flex-video",
  "foundation/components/section",
  "foundation/components/top-bar",
  "foundation/components/orbit",
  "foundation/components/reveal",
  "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  "foundation/components/breadcrumbs",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/dropdown";

body {
}

nav {
  -webkit-font-smoothing: antialiased;
}

header {
  background: #333333;

  .row {
    padding: emCalc(15px) 0;
    @media #{$small} {
      padding: emCalc(55px) 0;
    }
  }

  .bar {
    border-top: 2px solid white;
    height: 0;
    overflow: hidden;
    margin-bottom: emCalc(10px);
  }

  h1 {
    text-align: center;
    font-size: emCalc(40px);
    @media #{$small} {
      font-size: emCalc(60px);
    }
    line-height: 1em;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    -webkit-font-smoothing: antialiased;

    small {
      display: block;
      margin-top: 10px;
      font-size: 14px;
      font-weight: 700;
      font-style: italic;
      color: white;
      text-transform: none;
    }
  }
}
